
learning/genetic-maze-solver-main/data/JetBrainsMonoSlashed-Regular-24.vlw
learning/genetic-maze-solver-main/data/JetBrainsMonoSlashed-Regular-48.vlw
learning/genetic-maze-solver-main/data/JetBrainsMonoSlashed-Regular-96.vlw
learning/genetic-maze-solver-main/GeneticMazeSolver.pde
learning/genetic-maze-solver-main/LICENSE
learning/genetic-maze-solver-main/README.md
learning/genetic-maze-solver-main/sketch.properties
learning/neat-chrome-dinosaur-master/Assets/Cactus/LargeCactus1.png
learning/neat-chrome-dinosaur-master/Assets/Cactus/LargeCactus2.png
learning/neat-chrome-dinosaur-master/Assets/Cactus/LargeCactus3.png
learning/neat-chrome-dinosaur-master/Assets/Cactus/SmallCactus1.png
learning/neat-chrome-dinosaur-master/Assets/Cactus/SmallCactus2.png
learning/neat-chrome-dinosaur-master/Assets/Cactus/SmallCactus3.png
learning/neat-chrome-dinosaur-master/Assets/Dino/DinoJump.png
learning/neat-chrome-dinosaur-master/Assets/Dino/DinoRun1.png
learning/neat-chrome-dinosaur-master/Assets/Dino/DinoRun2.png
learning/neat-chrome-dinosaur-master/Assets/Other/Track.png
learning/neat-chrome-dinosaur-master/config.txt
learning/neat-chrome-dinosaur-master/main.py
learning/neat-chrome-dinosaur-master/preview.gif
learning/neat-chrome-dinosaur-master/pycharm-requirements.PNG
learning/neat-chrome-dinosaur-master/README.MD
learning/neat-chrome-dinosaur-master/requirements.txt
learning/NEAT-Flappy-Bird-master/.gitpod.yml
learning/NEAT-Flappy-Bird-master/.replit
learning/NEAT-Flappy-Bird-master/__pycache__/visualize.cpython-312.pyc
learning/NEAT-Flappy-Bird-master/best.pickle
learning/NEAT-Flappy-Bird-master/config-feedforward.txt
learning/NEAT-Flappy-Bird-master/flappy_bird.py
learning/NEAT-Flappy-Bird-master/imgs/base.png
learning/NEAT-Flappy-Bird-master/imgs/bg.png
learning/NEAT-Flappy-Bird-master/imgs/bird1.png
learning/NEAT-Flappy-Bird-master/imgs/bird2.png
learning/NEAT-Flappy-Bird-master/imgs/bird3.png
learning/NEAT-Flappy-Bird-master/imgs/pipe.png
learning/NEAT-Flappy-Bird-master/README.md
learning/NEAT-Flappy-Bird-master/requirements.txt
learning/NEAT-Flappy-Bird-master/visualize.py
learning/Python2048-main/2048.py
learning/Python2048-main/high_score
learning/Python2048-main/main.py
learning/Smart-Dots-Genetic-Algorithm-Tutorial-master/BestTutorialEver/BestTutorialEver.pde
learning/Smart-Dots-Genetic-Algorithm-Tutorial-master/BestTutorialEver/Brain.pde
learning/Smart-Dots-Genetic-Algorithm-Tutorial-master/BestTutorialEver/Dot.pde
learning/Smart-Dots-Genetic-Algorithm-Tutorial-master/BestTutorialEver/Population.pde
learning/Smart-Dots-Genetic-Algorithm-Tutorial-master/README.md
learning/genetic-maze-solver-main/Agent.pde
learning/kmp.py
learning/note.txt
procon_2024/__pycache__/Agent.cpython-312.pyc
procon_2024/__pycache__/ProblemData.cpython-312.pyc
procon_2024/__pycache__/ProblemData.cpython-312.pyc
